.card-container{
  .card {
    &.card-primary{
      background: $card-primary-background;
      border: $card-primary-border;
      color: $card-primary-content-color;
    }
    &.card-secondary{
      background: $card-secondary-border;
      border: $card-secondary-background;
      color: $card-secondary-content-color;
    }
    .card-body{
      padding: $card-padding;
    }
  }
}