.title{
  font-size: $title-font-size;
  font-weight: 700;
  line-height: 1.5;
  color: $font-color;
}

.heading1{
  font-size: $h1-font-size;
  font-weight: 600;
  color: $font-color;
  line-height: 1.5;
}
.heading2{
  font-size: $h2-font-size;
  font-weight: 600;
  line-height: 1.5;
  color: $font-color;
}
.heading3{
  font-size: $h3-font-size;
  font-weight: 600;
  line-height: 1.5;
  color: $font-color;
}
.heading4{
  font-size: $h4-font-size;
  font-weight: 600;
  line-height: 1.5;
  color: $font-color;
}
.heading5{
  font-size: $h5-font-size;
  font-weight: 600;
  line-height: 1.5;
  color: $font-color;
}
.heading6{
  font-size: $h6-font-size;
  font-weight: 500;
  line-height: 1.5;
  color: $font-color;
}

.p1{
  font-size: $p1-font-size;
  font-weight: 500;
  line-height: 1.5;
  color: $font-color;
}

.p2{
  font-size: $p2-font-size;
  font-weight: 600;
  line-height: 1.5;
  color: $font-color;
}
.p3{
  font-size: $p3-font-size;
  font-weight: 600;
  line-height: 1.5;
  color: $font-color;
}
.p4{
  font-size: $p4-font-size;
  font-weight: 500;
  line-height: 1.5;
  color: $font-color;
}
.sub-title1{
  font-size: $sub-title1-font-size;
  font-weight: 600;
  line-height: 1.5;
  color: $font-color;
}
.sub-title2{
  font-size: $sub-title2-font-size;
  font-weight: 600;
  line-height: 1.5;
  color: $font-color;
}