.popover.custom{
  background: $tooltip-background;
  border-radius: $tooltip-border-radius;
  .popover-body{
    padding: 1rem;
  }
  .content{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $tooltip-color;
  }
}
.custom.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::before, .custom.bs-popover-bottom>.popover-arrow::before,
.custom.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::after, .custom.bs-popover-bottom>.popover-arrow::after{
  border-bottom-color: $tooltip-background;
}