/*--------------------------------------------------------------
# common styles
--------------------------------------------------------------*/
.custom-offcanvas {
  width: auto;
  background: rgba(25, 25, 25, 0.7); }
  .custom-offcanvas .offcanvas-header {
    position: relative;
    padding: 0; }
    .custom-offcanvas .offcanvas-header .btn-close {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 1; }
      .custom-offcanvas .offcanvas-header .btn-close:focus {
        box-shadow: none; }
  .custom-offcanvas .offcanvas-body {
    padding: 0; }

.icon-button.info {
  padding-left: 5px;
  background: no-repeat;
  border: none;
  outline: none !important; }

/*--------------------------------------------------------------
# layout styles
--------------------------------------------------------------*/
.app-layout {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "sidebar main";
  grid-template-columns: 0.4fr 3fr; }

/*--------------------------------------------------------------
# pages styles
--------------------------------------------------------------*/
.main-container {
  background-image: url("../assets/images/bg_round1.svg");
  background-repeat: no-repeat;
  background-position: bottom right; }

.custom-tabs {
  max-width: 500px;
  margin: auto;
  background-image: url("../assets/images/bg_round2.svg");
  background-repeat: no-repeat;
  background-position: 0% 80px;
  padding: 0  20px; }
  .custom-tabs .tab-content .content {
    background: rgba(34, 34, 34, 0.74);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 32px; }
    .custom-tabs .tab-content .content .available-balance {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: right;
      color: #A9A9A9; }
    .custom-tabs .tab-content .content .swap-icon {
      position: relative;
      width: 100%;
      background: red;
      display: flex;
      align-items: center;
      justify-content: center; }
      .custom-tabs .tab-content .content .swap-icon .icon-box {
        background: #191919;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        top: 0;
        z-index: 1;
        left: auto; }
        .custom-tabs .tab-content .content .swap-icon .icon-box .icon {
          position: absolute;
          text-decoration: none;
          top: 50%;
          left: 50%;
          width: 14px;
          transform: translateX(-50%) translateY(-50%); }
    .custom-tabs .tab-content .content .button-primary {
      width: 100%; }
    .custom-tabs .tab-content .content .button-not-connected {
      width: 100%;
      background: #131313;
      color: #69696D;
      margin-top: 1rem;
      border: 0px solid; }

.dropdown-input.initial-child {
  margin-bottom: 5px; }
.dropdown-input.swap-next {
  margin-top: 5px;
  margin-bottom: 1rem; }

/*--------------------------------------------------------------
# media queries styles
--------------------------------------------------------------*/
@media (max-width: 768px) {
  .app-layout {
    display: block; } }
html, body {
  background: radial-gradient(112.6% 112.6% at 50% -12.6%, #372627 0%, #030303 44.79%); }

.copy-section {
  position: relative; }
  .copy-section .copy-result {
    position: absolute;
    top: -15px;
    width: auto;
    right: -5px;
    font-size: 10px; }

.copy-button {
  outline: none !important;
  border: 0px solid;
  background: none;
  margin-left: 5px; }
  .copy-button .icon {
    width: 12px;
    height: 16px; }

/*# sourceMappingURL=main.css.map */
