$body-background : #1F1F1F;
//  gray-color-variables start
$gray-100: #787878;
$gray-200: #383838;
$gray-300: #282828;
$gray-400: #1B1B1B;
$gray-500: #181818;
$gray-600: #121212;
$gray-700: #070B09;
$black:    #000 ;
//  gray-color-variables end

//  white-color-variables start
$white-100: #FCFCFC;
$white-200: #ECECEC;
$white-300: #D8D8D8;
$white-400: #C4C4C4;
$white-500: #BABABA;
$white-600: #A6A6A6;
$white:    #fff ;
//  white-color-variables end

//  red-color-variables start
$red-100: #FEE2D5;
$red-200: #FF858A;
$red-300: #BF353B;
$red-400: #9B1117;
$red-500: #811318;
$red-600: #8C0208;
// red-color-variables end

// theme-color-variables
//$primary:       $blue !default;
//$secondary:     $gray-600 !default;
$success:       #47C28B !default;
$info:          #3E73F0 !default;
$warning:       #F9B053 !default;
$danger:        #DB2438 !default;
//$light:         $gray-100 !default;
//$dark:          $gray-900 !default;
// theme-color-variables

//  text-color-variables start
$error-text: $danger;
$success-text: $success;
$highlighted-text: $white-100;
$body-text: $white-200;
$inactive-text: $white-600;
$disabled-text: $gray-100;
// text-color-variables end

// scss-docs-start border-radius-variables
$border-radius:               .375rem !default;
$border-radius-sm:            .3rem !default;
$border-radius-lg:            .4.25rem !default;
$border-radius-pill:          50rem !default;
// scss-docs-end border-radius-variables

// scss-docs-start font-variables
//// stylelint-disable value-keyword-case
//$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
//$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
//// stylelint-enable value-keyword-case

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root:              null !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$title-font-size:              $font-size-base * 3;
$h1-font-size:                $font-size-base * 2.25 !default;
$h2-font-size:                $font-size-base * 1.875 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base !default;
$h6-font-size:                $font-size-base * 0.875 !default;

$p1-font-size:                $font-size-base * 1.5 !default;
$p2-font-size:                $font-size-base * 1.25 !default;
$p3-font-size:                $font-size-base !default;
$p4-font-size:                $font-size-base * 0.875 !default;


$sub-title1-font-size:                $font-size-base * 1.125 !default;
$sub-title2-font-size:                $font-size-base !default;

$font-color : $white-100;
// scss-docs-end font-variables


// Shared variables that are reassigned to `$input-` and `$button-` specific variables.

// scss-docs-start input-button-variables
$input-button-padding-y:         .875rem !default;
$input-button-padding-x:         .75rem !default;
$input-button-font-family:       null !default;
$input-button-font-size:         $font-size-base !default;
$input-button-line-height:       $line-height-base !default;

$input-button-padding-y-sm:      .625rem !default;
$input-button-padding-x-sm:      .5rem !default;
$input-button-font-size-sm:      $font-size-sm !default;

$input-button-padding-y-lg:      .5rem !default;
$input-button-padding-x-lg:      1rem !default;
$input-button-font-size-lg:      $font-size-lg !default;

//$input-button-border-width:      $border-width !default;
// scss-docs-end input-button-variables

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start button-variables
$button-padding-y:               $input-button-padding-y !default;
$button-padding-x:               $input-button-padding-x !default;
$button-font-family:             $input-button-font-family !default;
$button-font-size:               $input-button-font-size !default;
$button-line-height:             $input-button-line-height !default;
$button-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

$button-padding-y-sm:            $input-button-padding-y-sm !default;
$button-padding-x-sm:            $input-button-padding-x-sm !default;
$button-font-size-sm:            $input-button-font-size-sm !default;

$button-padding-y-lg:            $input-button-padding-y-lg !default;
$button-padding-x-lg:            $input-button-padding-x-lg !default;
$button-font-size-lg:            $input-button-font-size-lg !default;

//$button-border-width:            $input-button-border-width !default;

//$button-transition:                color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$button-font-weight:             $font-weight-normal !default;

$button-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
//$button-focus-width:             $input-button-focus-width !default;
//$button-focus-box-shadow:        $input-button-focus-box-shadow !default;
$button-disabled-opacity:        .65 !default;
$button-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$button-variant-bg: radial-gradient(97.89% 704.35% at 51.96% 50%, #C73238 0.01%, #CE242C 0.02%, #77151A 67.71%, #181818 100%);
$button-variant-color:$white-100;
$button-variant-border:0px solid;
$button-variant-box-shadow:none;
$button-variant-hover-bg: $button-variant-bg;
$button-variant-hover-color:$white-100;
$button-variant-hover-box-shadow:  0px 0px 16px rgba(220, 0, 10, 0.7) !default;
$button-variant-focus-bg: $red-500;
$button-variant-focus-color: $white-100;
$button-variant-focus-box-shadow: 0px 4px 10px rgba(128, 14, 19, 0.25) !default;
$button-variant-loading-bg: #9E3F44;
$button-variant-loading-color: $white-100;
//$button-variant-loading-box-shadow: null !default;
$button-variant-disabled-bg: #4A2A2A;
$button-variant-disabled-color: $gray-100;
$button-variant-disabled-box-shadow:none;
//$button-variant-loading-box-shadow: null !default;

// button secondary styles start
$button-outline-bg: transparent;
$button-outline-border:3px solid;
$button-outline-border-image:radial-gradient(97.89% 704.35% at 51.96% 50%, #C73238 0.01%, #CE242C 0.02%, #77151A 67.71%, #181818 100%);
$button-outline-color:$white-100;
$button-outline-box-shadow:none;
$button-outline-hover-bg: transparent;
$button-outline-hover-color:$white-100;
$button-outline-hover-box-shadow: none;
$button-outline-hover-border: 3px solid;
$button-outline-hover-border-image:radial-gradient(97.89% 704.35% at 51.96% 50%, #C14449 0.01%, #D20E17 0.02%, #181818 100%);
$button-outline-focus-bg: transparent;
$button-outline-focus-color: $white-100;
$button-outline-focus-box-shadow: none;
$button-outline-focus-border: 3px solid $red-500;
$button-outline-focus-border-image:none;
$button-outline-loading-bg: transparent;
$button-outline-loading-color: $white-100;
$button-outline-disabled-bg: transparent;
$button-outline-disabled-color: $gray-100;
$button-outline-disabled-box-shadow:none;
$button-outline-disabled-border: 3px solid #4A2A2A;
$button-outline-disabled-border-image:none;

// button secondary styles end

//$button-link-color:              $link-color !default;
//$button-link-hover-color:        $link-hover-color !default;
//$button-link-disabled-color:     $gray-600 !default;

// Allows for customizing button radius independently from global border radius
$button-border-radius:           $border-radius !default;
$button-border-radius-sm:        $border-radius-sm !default;
$button-border-radius-lg:        $border-radius-lg !default;


// Tabs styles
$tab-link-padding: 0.75rem;
$tab-link-border-radius : $border-radius;
$tab-link-background : $gray-500;
$tab-link-color : $white-600;
$tab-link-active-background : $white-200;
$tab-link-active-color : #181818;


// Input field styles
$input-background : $gray-700;
$input-border-color: $gray-700;
$input-color      : $white-100;
$input-placeholder-color : $white-600;
$input-border-radius : $border-radius;
$input-focus-border-color: rgba(252, 252, 252, 0.7);
$input-focus-box-shadow : 0px 0px 10px rgba(255, 255, 255, 0.25);
$input-success-box-shadow : 0px 0px 10px rgba(68, 172, 33, 0.25);
$input-error-box-shadow: 0px 0px 10px rgba(219, 36, 56, 0.25);
$input-help-text-color:$white-200;
$input-padding: 1rem;
$input-dropdown-background: #262626;
$input-dropdown-search-color: $white-600;
$input-dropdown-network-name : $white-600;
$input-dropdown-network-color: $white-600;
$input-dropdown-item-hover-background: $gray-400;
$input-dropdown-item-hover-color: $white-200;


// modal styles

$modal-background : $gray-300;
$modal-header-color : $white-100;
$modal-header-border : 0px solid;
$modal-body-color : $white-100;
$modal-header-padding :  2rem 2rem 0 2rem;
$modal-body-padding : 1rem 2rem 2rem 2rem;


//card styles
$card-padding : 1rem;
$card-primary-background: $gray-300;
$card-primary-border: 2px solid $gray-300;
$card-primary-content-color:$white-600;
$card-primary-header-color:$white-100;
$card-secondary-background : 2px solid $gray-300;;
$card-secondary-border: transparent;
$card-secondary-content-color:$white-600;
$card-secondary-header-color:$white-100;

// toasts
$toast-padding : 1.125rem 1rem;
$toast-background:$gray-300;
$toast-box-shadow:0px 2px 6px rgba(98, 98, 98, 0.25);
$toast-title-color:$white-100;
$toast-content-color:$white-600;
$toast-border-radius: $border-radius;

//side bar

$side-bar-background : rgba(24, 24, 24, 0.6);;
//$side-bar-padding:;
//$side-bar-item-padding:;
$side-bar-item-color:$white-600;
$side-bar-item-hover-background:$gray-400;
$side-bar-item-icon-color:$white-600;
$side-bar-item-active-icon-color:$red-500;
$side-bar-item-active-background:$gray-400;
$side-bar-item-active-color:$white-200;
$side-bar-balance-heading-color:$white-200;
$side-bar-balance-color:$white-600;
$side-bar-social-link-color:#676767;


// slider styles
$slider-background:$white-200;
$slider-point-background:$white-100;
$slider-point-box-shadow:0px 4px 4px rgba(106, 106, 106, 0.25);
$slider-finished-background:$red-600;
$slider-border-radius: 4px;

// toggle button styles
$toggle-checked-background : $red-600;
$toggle-background: $white-300;
$toggle-point-background:$white-100;
$toggle-poing-box-shadow:0px 4px 5px -1px rgba(0, 0, 0, 0.08);
$toggle-border-radius: 18px;

// tooltip

$tooltip-background: $gray-300;
$tooltip-color:$white-200;
$tooltip-border-radius:$border-radius;