/*--------------------------------------------------------------
# common styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #FCFCFC;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 0 solid transparent;
  border-radius: 0.375rem;
  cursor: pointer;
  padding: 0.875rem 0.75rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.button-primary {
  color: #FCFCFC;
  background: radial-gradient(97.89% 704.35% at 51.96% 50%, #C73238 0.01%, #CE242C 0.02%, #77151A 67.71%, #181818 100%);
  box-shadow: none;
  border: 0px solid;
  border-image-source: none; }
  .button-primary:hover {
    color: #FCFCFC;
    background: radial-gradient(97.89% 704.35% at 51.96% 50%, #C73238 0.01%, #CE242C 0.02%, #77151A 67.71%, #181818 100%);
    box-shadow: 0px 0px 16px rgba(220, 0, 10, 0.7);
    border: 0px solid;
    border-image-source: none;
    border-image-slice: 1; }
  .btn-check:focus + .button-primary, .button-primary:focus {
    color: #FCFCFC;
    background: #811318;
    box-shadow: 0px 4px 10px rgba(128, 14, 19, 0.25);
    border: 0px solid;
    border-image-slice: 1; }
  .btn-check:checked + .button-primary, .btn-check:active + .button-primary, .button-primary:active, .button-primary.active, .show > .button-primary.dropdown-toggle {
    color: #FCFCFC;
    background: #811318;
    box-shadow: 0px 4px 10px rgba(128, 14, 19, 0.25);
    border: 0px solid;
    border-image-slice: 1; }
  .button-primary:disabled, .button-primary.disabled {
    color: #787878;
    background: #4A2A2A;
    box-shadow: none;
    border: 0px solid; }

.button-secondary {
  position: relative;
  background: #1F1F1F; }
  .button-secondary::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    padding: 3px;
    background: radial-gradient(97.89% 704.35% at 51.96% 50%, #C73238 0.01%, #CE242C 0.02%, #77151A 67.71%, #181818 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; }
  .button-secondary:hover {
    color: #FCFCFC;
    background: #1F1F1F;
    filter: drop-shadow(0px 0px 16px #DC000A); }
    .button-secondary:hover::after {
      background: radial-gradient(97.89% 704.35% at 51.96% 50%, #C14449 0.01%, #D20E17 0.02%, #181818 100%); }
  .btn-check:focus + .button-secondary, .button-secondary:focus {
    color: #FCFCFC;
    background: #1F1F1F; }
    .btn-check:focus + .button-secondary::after, .button-secondary:focus::after {
      background: #811318; }
  .btn-check:checked + .button-secondary, .btn-check:active + .button-secondary, .button-secondary:active, .button-secondary.active, .show > .button-secondary.dropdown-toggle {
    color: #FCFCFC;
    background: #1F1F1F; }
    .btn-check:checked + .button-secondary::after, .btn-check:active + .button-secondary::after, .button-secondary:active::after, .button-secondary.active::after, .show > .button-secondary.dropdown-toggle::after {
      background: #811318; }
  .button-secondary:disabled, .button-secondary.disabled {
    color: #787878;
    background: transparent; }
    .button-secondary:disabled::after, .button-secondary.disabled::after {
      background: #4A2A2A; }

.button-tertiary {
  color: #FCFCFC;
  background: trasparent;
  box-shadow: none;
  border: 0px solid;
  border-image-source: none; }
  .button-tertiary:hover {
    color: #F4878C;
    background: transparent;
    box-shadow: none;
    border: 0px;
    border-image-source: none;
    border-image-slice: 1; }
  .btn-check:focus + .button-tertiary, .button-tertiary:focus {
    color: #811318;
    background: transparent;
    box-shadow: none;
    border: 0px solid;
    border-image-slice: 1; }
  .btn-check:checked + .button-tertiary, .btn-check:active + .button-tertiary, .button-tertiary:active, .button-tertiary.active, .show > .button-tertiary.dropdown-toggle {
    color: #811318;
    background: transparent;
    box-shadow: none;
    border: 0px solid;
    border-image-slice: 1; }
  .button-tertiary:disabled, .button-tertiary.disabled {
    color: #6C6C6C;
    background: transparent;
    box-shadow: none;
    border: 0px; }

.button-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem; }

.button-sm {
  padding: 0.625rem 0.5rem;
  font-size: 0.875rem; }

.tabs-container .nav-tabs {
  border: 0px solid; }
  .tabs-container .nav-tabs li {
    flex: 1; }
    .tabs-container .nav-tabs li:first-child button {
      border-radius: 0.375rem 0 0 0.375rem; }
    .tabs-container .nav-tabs li:last-child button {
      border-radius: 0 0.375rem 0.375rem 0; }
    .tabs-container .nav-tabs li button {
      width: 100%;
      background: #181818;
      border: 0px solid !important;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: #A6A6A6; }
      .tabs-container .nav-tabs li button.active {
        background-color: #ECECEC;
        color: #181818; }

.input-field-container label {
  color: #FCFCFC; }
.input-field-container .form-control {
  background-color: #070B09;
  color: #FCFCFC;
  border-color: #070B09;
  font-weight: 400;
  font-size: 16px;
  padding: 1rem;
  border-radius: 0.375rem; }
  .input-field-container .form-control::placeholder {
    color: #A6A6A6;
    font-weight: 400;
    font-size: 16px; }
  .input-field-container .form-control:focus {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25); }
.input-field-container .input-validate .help-text {
  color: #ECECEC;
  font-weight: 400;
  font-size: 14px; }
.input-field-container .input-validate .form-control.success {
  box-shadow: 0px 0px 10px rgba(68, 172, 33, 0.25); }
.input-field-container .input-validate .form-control.error {
  box-shadow: 0px 0px 10px rgba(219, 36, 56, 0.25); }
.input-field-container .input-validate .input-icon {
  position: relative; }
  .input-field-container .input-validate .input-icon .icon-search {
    position: absolute;
    right: 20px;
    top: 20px; }
  .input-field-container .input-validate .input-icon input {
    padding-right: 3rem; }
.input-field-container .dropdown-input {
  background: #070B09;
  position: relative;
  border-radius: 0.375rem; }
  .input-field-container .dropdown-input .dropdown {
    width: 100%;
    padding: 1rem 0; }
    .input-field-container .dropdown-input .dropdown.show {
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
      border-radius: 0.375rem; }
    .input-field-container .dropdown-input .dropdown .dropdown-menu.show {
      width: 100%;
      background: #262626;
      padding: 1.5rem; }
      .input-field-container .dropdown-input .dropdown .dropdown-menu.show .dropdown-list {
        max-height: 100px;
        overflow-y: auto; }
        .input-field-container .dropdown-input .dropdown .dropdown-menu.show .dropdown-list::-webkit-scrollbar {
          width: 4px; }
        .input-field-container .dropdown-input .dropdown .dropdown-menu.show .dropdown-list::-webkit-scrollbar-thumb {
          -webkit-border-radius: 4px;
          border-radius: 4px;
          background: rgba(252, 252, 252, 0.2);
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
    .input-field-container .dropdown-input .dropdown .dropdown-menu .dropdown-item {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .input-field-container .dropdown-input .dropdown .dropdown-menu .dropdown-item .logo {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #A6A6A6; }
        .input-field-container .dropdown-input .dropdown .dropdown-menu .dropdown-item .logo img {
          margin-right: 0.5rem;
          width: 24px;
          height: 24px; }
      .input-field-container .dropdown-input .dropdown .dropdown-menu .dropdown-item .balance {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #A6A6A6; }
      .input-field-container .dropdown-input .dropdown .dropdown-menu .dropdown-item:hover {
        background: #1B1B1B;
        color: #ECECEC; }
    .input-field-container .dropdown-input .dropdown .dropdown-toggle {
      background: none;
      padding: 0.9rem 1rem;
      box-shadow: none;
      border: 0px solid;
      color: #FCFCFC;
      font-weight: 500;
      font-size: 24px; }
      .input-field-container .dropdown-input .dropdown .dropdown-toggle .icon-arrow {
        width: 12px;
        margin-left: 10px; }
      .input-field-container .dropdown-input .dropdown .dropdown-toggle .logo {
        width: 32px;
        margin-right: 10px; }
      .input-field-container .dropdown-input .dropdown .dropdown-toggle::after {
        display: none; }
    .input-field-container .dropdown-input .dropdown .search-input {
      position: relative;
      margin-bottom: 0.625rem; }
      .input-field-container .dropdown-input .dropdown .search-input .icon-search {
        position: absolute;
        right: 13px;
        width: 14px;
        top: 10px; }
      .input-field-container .dropdown-input .dropdown .search-input input {
        width: 100%;
        background: #484848;
        border-radius: 8px;
        border: 0px solid;
        outline: none !important;
        padding: 0.5rem 2.25rem 0.5rem 0.813rem;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #A6A6A6; }
  .input-field-container .dropdown-input .input-section {
    position: absolute;
    right: 0;
    top: 1rem;
    padding-right: 1rem; }
    .input-field-container .dropdown-input .input-section input {
      background: transparent;
      border: 0px solid;
      outline: none;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      text-align: right;
      color: #FCFCFC;
      max-width: 160px; }
      .input-field-container .dropdown-input .input-section input::placeholder {
        color: #A6A6A6; }
    .input-field-container .dropdown-input .input-section .dollar-amount {
      margin: 0;
      text-align: right;
      padding-right: 20px;
      color: #A6A6A6; }
  .input-field-container .dropdown-input .input-logo {
    color: #FCFCFC;
    font-weight: 500;
    height: 100px;
    display: flex;
    font-size: 24px;
    align-items: center;
    padding: 0.9rem 1rem; }
    .input-field-container .dropdown-input .input-logo .logo {
      width: 32px;
      margin-right: 10px; }

.modal-container.modal .modal-dialog .modal-content {
  background: #282828; }
  .modal-container.modal .modal-dialog .modal-content .modal-header {
    padding: 2rem 2rem 0 2rem;
    border: 0px solid; }
    .modal-container.modal .modal-dialog .modal-content .modal-header .modal-title {
      font-weight: 600;
      font-size: 24px;
      color: #FCFCFC; }
    .modal-container.modal .modal-dialog .modal-content .modal-header .btn-close {
      background-image: url("./../images/close.svg"); }
  .modal-container.modal .modal-dialog .modal-content .modal-body {
    border: 0px solid;
    font-weight: 400;
    font-size: 14px;
    padding: 1rem 2rem 2rem 2rem;
    color: #FCFCFC; }
  .modal-container.modal .modal-dialog .modal-content .modal-footer {
    border: 0px solid; }

.card-container .card.card-primary {
  background: #282828;
  border: 2px solid #282828;
  color: #A6A6A6; }
.card-container .card.card-secondary {
  background: transparent;
  border: 2px solid #282828;
  color: #A6A6A6; }
.card-container .card .card-body {
  padding: 1rem; }

.Toastify .Toastify__toast-container .Toastify__toast {
  background: none;
  box-shadow: none;
  padding: 15px; }
  .Toastify .Toastify__toast-container .Toastify__toast .Toastify__toast-body {
    background: #282828;
    box-shadow: 0px 2px 6px rgba(98, 98, 98, 0.25);
    padding: 1.125rem 1rem;
    border-radius: 0.375rem; }
    .Toastify .Toastify__toast-container .Toastify__toast .Toastify__toast-body .toast-content .title-section {
      display: flex;
      align-items: center;
      padding-bottom: 5px; }
      .Toastify .Toastify__toast-container .Toastify__toast .Toastify__toast-body .toast-content .title-section .title {
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.5;
        color: #FCFCFC; }
      .Toastify .Toastify__toast-container .Toastify__toast .Toastify__toast-body .toast-content .title-section .spinner-border {
        border-width: 0.15em; }
      .Toastify .Toastify__toast-container .Toastify__toast .Toastify__toast-body .toast-content .title-section .toast-icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 10px; }
    .Toastify .Toastify__toast-container .Toastify__toast .Toastify__toast-body .toast-content .content {
      margin: 0 0 0 2rem;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #A6A6A6; }
  .Toastify .Toastify__toast-container .Toastify__toast .Toastify__close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    background: #474747;
    opacity: 1;
    width: 24px;
    height: 24px;
    border-radius: 50%; }
  .Toastify .Toastify__toast-container .Toastify__toast .Toastify__close-button > svg {
    fill: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.side-bar {
  width: 274px;
  grid-area: sidebar;
  background: rgba(24, 24, 24, 0.6);
  backdrop-filter: blur(17px); }
  .side-bar .side-bar-content {
    position: sticky;
    height: 100vh;
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .side-bar .side-bar-content .logo-container {
      padding: 2.1875rem 0;
      text-align: center; }
    .side-bar .side-bar-content .nav-list li {
      list-style: none; }
      .side-bar .side-bar-content .nav-list li a {
        color: #A6A6A6; }
      .side-bar .side-bar-content .nav-list li .nav-link {
        padding: 0.75rem 2rem  0.75rem 3.375rem; }
        .side-bar .side-bar-content .nav-list li .nav-link .icon {
          fill: #A6A6A6;
          width: 17px;
          margin-right: 1.375rem; }
          .side-bar .side-bar-content .nav-list li .nav-link .icon.icon-right-arrow {
            transition: transform 0.35s ease;
            transform-origin: 0.5em 50%;
            width: 12px;
            height: 14px; }
        .side-bar .side-bar-content .nav-list li .nav-link .text {
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          color: #A6A6A6; }
        .side-bar .side-bar-content .nav-list li .nav-link.active {
          border-right: 3px solid #E50913;
          border-radius: 2px;
          background: #1B1B1B; }
          .side-bar .side-bar-content .nav-list li .nav-link.active .text {
            color: #ECECEC; }
          .side-bar .side-bar-content .nav-list li .nav-link.active .icon {
            fill: #811318; }
        .side-bar .side-bar-content .nav-list li .nav-link.opened .icon-right-arrow {
          transform: rotate(90deg); }
    .side-bar .side-bar-content .nav-list .more-list {
      background: #1B1B1B; }
      .side-bar .side-bar-content .nav-list .more-list li {
        padding: 0.5rem 2rem  0.5rem 3.375rem;
        color: #A6A6A6; }
        .side-bar .side-bar-content .nav-list .more-list li:first-child {
          padding-top: 1.25rem;
          border-top: 1px solid #2B2B2B; }
        .side-bar .side-bar-content .nav-list .more-list li:last-child {
          padding-bottom: 1.25rem; }
    .side-bar .side-bar-content .balance-section {
      border-top: 1px solid #2B2B2B; }
      .side-bar .side-bar-content .balance-section .heading {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 1.3rem;
        color: #ECECEC; }
      .side-bar .side-bar-content .balance-section .balance-list {
        padding: 1rem 1.5rem; }
        .side-bar .side-bar-content .balance-section .balance-list .list {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .side-bar .side-bar-content .balance-section .balance-list .list.first-child {
            margin-bottom: 0.8rem; }
          .side-bar .side-bar-content .balance-section .balance-list .list .logo {
            display: flex;
            align-items: center; }
            .side-bar .side-bar-content .balance-section .balance-list .list .logo img {
              margin-right: 10px; }
            .side-bar .side-bar-content .balance-section .balance-list .list .logo span {
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              display: flex;
              align-items: center;
              text-align: center;
              color: #A6A6A6; }
          .side-bar .side-bar-content .balance-section .balance-list .list .text {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #A6A6A6; }
          .side-bar .side-bar-content .balance-section .balance-list .list .balance {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #A6A6A6; }
      .side-bar .side-bar-content .balance-section .social-links {
        border-top: 1px solid #2B2B2B;
        padding: 1rem 1.5rem; }
        .side-bar .side-bar-content .balance-section .social-links .social-links-list {
          margin: 0; }
          .side-bar .side-bar-content .balance-section .social-links .social-links-list a {
            margin-right: 10px; }
            .side-bar .side-bar-content .balance-section .social-links .social-links-list a .icon {
              fill: #676767; }
            .side-bar .side-bar-content .balance-section .social-links .social-links-list a:hover .icon {
              fill: #A6A6A6; }
      .side-bar .side-bar-content .balance-section .icon-button.info {
        padding-left: 5px;
        background: no-repeat;
        border: none;
        outline: none !important; }

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  color: #FCFCFC; }

.heading1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: #FCFCFC;
  line-height: 1.5; }

.heading2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FCFCFC; }

.heading3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FCFCFC; }

.heading4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FCFCFC; }

.heading5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FCFCFC; }

.heading6 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  color: #FCFCFC; }

.p1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #FCFCFC; }

.p2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FCFCFC; }

.p3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FCFCFC; }

.p4 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  color: #FCFCFC; }

.sub-title1 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FCFCFC; }

.sub-title2 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FCFCFC; }

.range-slider .rangeslider-horizontal {
  height: 8px; }
  .range-slider .rangeslider-horizontal .rangeslider__fill {
    background-color: #8C0208; }
  .range-slider .rangeslider-horizontal .rangeslider__handle {
    background: #FCFCFC;
    box-shadow: 0px 4px 4px rgba(106, 106, 106, 0.25);
    width: 42px;
    height: 42px; }
    .range-slider .rangeslider-horizontal .rangeslider__handle::after {
      background: #FCFCFC;
      box-shadow: none; }

.form-switch .form-check-input {
  background-color: #D8D8D8;
  border: 2px solid #D8D8D8;
  border-radius: 18px;
  background-image: url("./../images/toggle.svg"); }
  .form-switch .form-check-input:focus {
    outline: 0;
    box-shadow: none;
    background-color: #D8D8D8;
    border: 2px solid #D8D8D8;
    border-radius: 18px;
    background-image: url("./../images/toggle.svg"); }
  .form-switch .form-check-input:checked {
    background-color: #8C0208;
    border: 2px solid #8C0208;
    background-image: url("./../images/toggle.svg");
    outline: 0;
    box-shadow: none; }

.popover.custom {
  background: #282828;
  border-radius: 0.375rem; }
  .popover.custom .popover-body {
    padding: 1rem; }
  .popover.custom .content {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #ECECEC; }

.custom.bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow::before, .custom.bs-popover-bottom > .popover-arrow::before,
.custom.bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow::after, .custom.bs-popover-bottom > .popover-arrow::after {
  border-bottom-color: #282828; }

/*# sourceMappingURL=main.css.map */
