@import "./variables";

.main-container{
  //background-image: url("../assets/images/bg_round1.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.custom-tabs{
  max-width: 500px;
  margin: auto;
  //background-image:  url("../assets/images/bg_round2.svg");
  background-repeat: no-repeat;
  background-position: 0% 80px;
  padding: 0  20px;
  .nav-tabs{
    border: 0px solid;
    li{
      flex: 1;
      button{
        width: 100%;
        background: rgba(25, 25, 25, 0.9);
        border: 0px solid !important;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: $text-color-light-secondary;
        &:hover{
          border: 0px solid !important;
        }
        &.active{
          color: #1F1D2B;
        }
      }
      &:first-child{
       button{
         border-radius: 0.25rem 0 0 0.25rem;
       }
      }
      &:last-child{
       button{
         border-radius: 0 0.25rem 0.25rem 0
       }
      }
    }
  }
  .tab-content{
    .content{
      background:rgba(34, 34, 34, 0.74);
      backdrop-filter: blur(15px);
      border-radius: 15px;
      padding: 32px;
      .available-balance{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: right;
        color: $text-color-light-tertiary;
      }
      .swap{
        //display: flex;
        //align-items: center;
        //justify-content: space-between;
        &.initial-child{
          margin-bottom: 5px;
        }
        &.swap-next{
          margin-top: 5px;
          margin-bottom: 1rem;
        }
        background: #070B09;
        //opacity: 0.7;
        border-radius: 8px;
        position: relative;
        //padding: 0 1.25rem;
        .dropdown {
          width: 100%;
          padding:1.2rem 0;
          .dropdown-menu{
            &.show {
              width: 100%;
              background: #232323;
              padding: 1.5rem;
              .dropdown-list{
                height: 100px;
                overflow-y: auto;
              }
            }
            .dropdown-item{
              font-weight: 500;
              font-size: 22px;
              line-height: 150%;
              color: $text-color-light-secondary;

              &:hover{
                background: #DDDDDD;
                color: #2D2D2D;

              }
            }
          }
          .dropdown-toggle{
            background: none;
            padding: 0.9rem 1rem;
            .icon{
              width: 14px;
              margin-left: 10px;
            }
          }
          .search-input {
            position: relative;
            margin-bottom: 0.625rem;
            .icon-search{
              position: absolute;
              left: 13px;
              top: 10px;
            }
            input {
              width: 100%;
              background: #484848;
              border-radius: 8px;
              border: 0px solid;
              outline: none !important;
              padding: 0.5rem 0.813rem 0.5rem 2.25rem;
              font-weight: 400;
              font-size: 12px;
              line-height: 150%;
              color: #7B7B7B;
            }
          }
        }
        .input-section{
          position: absolute;
          right: 0;
          top: 1rem;
          padding-right:  1rem;
          //width: 100%;
          input{
            background: transparent;
            border: 0px solid;
            outline: none;
            font-weight: 500;
            font-size: 24px;
            line-height: 150%;
            text-align: right;
            color: $text-color-dark-tertiary;

          }
          .dollar-amount{
            margin: 0;
            text-align: right;
            padding-right: 20px;
          }
        }
      }
      .list{
        margin-bottom: 0.5rem;
      }
      .swap-icon{
        position: relative;
        width: 100%;
        background: red;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-box{
          background: #191919;
          width:40px;
          height: 40px;
          border-radius: 50%;
          transform: translateX(-50%) translateY(-50%);
          position: absolute;
          top: 0;
          z-index: 1;
          left: auto;
          .icon{
            position: absolute;
            text-decoration:none;
            top:50%;
            left:50%;
            width: 14px;
            transform: translateX(-50%) translateY(-50%);
          }
        }
      }
      .button-primary{
        width: 100%;
      }
      .button {
        width: 100%;
        background: #131313;
        color: #69696D;
        margin-top: 1rem;
        border: 0px solid;
      }
    }
  }
}