//$white: #fff;
//$black: #000;
//$red: #CA2D2D;

$primary-color: #E50913;
$secondary-color: #101D42;
//$success-color: #52c41a; // success state color
//$warning-color: #faad14; // warning state color
//$error-color: #f5222d; // error state cooler

//$grey-btn-color: #737373;
//$input-light-grey-border: #B8B8B8;
//
//$text-red: #d90a00; // Red text color
//$text-white: $white; // Red text color
//$link-color: $primary-color; // link color
//$text-light: #727272;
//
$body-background: radial-gradient(112.6% 112.6% at 50% -12.6%, #372627 0%, #030303 44.79%);
//$background-light: #0D0E1F;
//$gery-light:#E4E4E4;
//$dark-green:#65A276;
//$middle-grey:#AEAEAE;
//$light-border:#F2F2F2;
//$switch-color:#F9F9F9;
//$dark-border:#3C3C3C;
//$input-label-color:#929292;
//$input-bg: #22233B;
//
//$font-family: 'Red Hat Display';
//$font-size-base: 14px;
//$font-size-xlg: $font-size-base + 4px; //18px
//$font-size-lg: $font-size-base + 2px; //16px
//$font-size-sm: $font-size-base - 2px; //12px
//
//$heading-color: rgba(0, 0, 0, 0.85); // heading text color
//$text-light-color: #ffffff;
$text-color-light-primary: #ffffff;
$text-color-light-secondary: #B6B4C1;
$text-color-light-tertiary:#A9A9A9;
$text-color-dark-primary: #69696D;
$text-color-dark-secondary: #474747;
$text-color-dark-tertiary:#747474;

//$text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
//$disabled-color: rgba(0, 0, 0, 0.25); // disable state color
//$border-radius-base: 6px; // major border radius
//$border-color-base: #d9d9d9; // major border color
//$box-shadow-base: 0px 0px 36.8644px #053b7588; // major shadow for layers
//
//$team-circle-gradient: linear-gradient(180deg, #032241 0%, #00060D 100%);
//
//
//$menu-bg : $black;
//$menu-submenu-bg:$black;
//$menu-arrow-color:$white;
//$menu-color:$white;
//$menu-item-color:$menu-color;
//
//$footer-bg: $black;
//$footer-text-color: #999;

//topbar
$connect-button-border: #322D3E;
//sidebar
$sidebar-background :rgba(25, 25, 25, 0.7);