/*--------------------------------------------------------------
# common styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #FCFCFC;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 0 solid transparent;
  border-radius: 0.375rem;
  cursor: pointer;
  padding: 0.875rem 0.75rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.button-primary {
  color: #FCFCFC;
  background: radial-gradient(97.89% 704.35% at 51.96% 50%, #C73238 0.01%, #CE242C 0.02%, #77151A 67.71%, #181818 100%);
  box-shadow: none;
  border: 0px solid;
  border-image-source: none; }
  .button-primary:hover {
    color: #FCFCFC;
    background: radial-gradient(97.89% 704.35% at 51.96% 50%, #C73238 0.01%, #CE242C 0.02%, #77151A 67.71%, #181818 100%);
    box-shadow: 0px 0px 16px rgba(220, 0, 10, 0.7);
    border: 0px solid;
    border-image-source: none;
    border-image-slice: 1; }
  .btn-check:focus + .button-primary, .button-primary:focus {
    color: #FCFCFC;
    background: #811318;
    box-shadow: 0px 4px 10px rgba(128, 14, 19, 0.25);
    border: 0px solid;
    border-image-slice: 1; }
  .btn-check:checked + .button-primary, .btn-check:active + .button-primary, .button-primary:active, .button-primary.active, .show > .button-primary.dropdown-toggle {
    color: #FCFCFC;
    background: #811318;
    box-shadow: 0px 4px 10px rgba(128, 14, 19, 0.25);
    border: 0px solid;
    border-image-slice: 1; }
  .button-primary:disabled, .button-primary.disabled {
    color: #787878;
    background: #4A2A2A;
    box-shadow: none;
    border: 0px solid; }

.button-secondary {
  position: relative; }
  .button-secondary::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    padding: 3px;
    background: radial-gradient(97.89% 704.35% at 51.96% 50%, #C73238 0.01%, #CE242C 0.02%, #77151A 67.71%, #181818 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; }
  .button-secondary:hover {
    color: #FCFCFC;
    background: transparent;
    filter: drop-shadow(0px 0px 16px #DC000A); }
    .button-secondary:hover::after {
      background: radial-gradient(97.89% 704.35% at 51.96% 50%, #C14449 0.01%, #D20E17 0.02%, #181818 100%); }
  .btn-check:focus + .button-secondary, .button-secondary:focus {
    color: #FCFCFC;
    background: transparent; }
    .btn-check:focus + .button-secondary::after, .button-secondary:focus::after {
      background: #811318; }
  .btn-check:checked + .button-secondary, .btn-check:active + .button-secondary, .button-secondary:active, .button-secondary.active, .show > .button-secondary.dropdown-toggle {
    color: #FCFCFC;
    background: transparent; }
    .btn-check:checked + .button-secondary::after, .btn-check:active + .button-secondary::after, .button-secondary:active::after, .button-secondary.active::after, .show > .button-secondary.dropdown-toggle::after {
      background: #811318; }
  .button-secondary:disabled, .button-secondary.disabled {
    color: #787878;
    background: transparent; }
    .button-secondary:disabled::after, .button-secondary.disabled::after {
      background: #4A2A2A; }

.button-tertiary {
  color: #FCFCFC;
  background: trasparent;
  box-shadow: none;
  border: 0px solid;
  border-image-source: none; }
  .button-tertiary:hover {
    color: #F4878C;
    background: transparent;
    box-shadow: none;
    border: 0px;
    border-image-source: none;
    border-image-slice: 1; }
  .btn-check:focus + .button-tertiary, .button-tertiary:focus {
    color: #811318;
    background: transparent;
    box-shadow: none;
    border: 0px solid;
    border-image-slice: 1; }
  .btn-check:checked + .button-tertiary, .btn-check:active + .button-tertiary, .button-tertiary:active, .button-tertiary.active, .show > .button-tertiary.dropdown-toggle {
    color: #811318;
    background: transparent;
    box-shadow: none;
    border: 0px solid;
    border-image-slice: 1; }
  .button-tertiary:disabled, .button-tertiary.disabled {
    color: #6C6C6C;
    background: transparent;
    box-shadow: none;
    border: 0px; }

.button-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem; }

.button-sm {
  padding: 0.625rem 0.5rem;
  font-size: 0.875rem; }

/*# sourceMappingURL=main.css.map */
